[submodule "assembler"]
	path = assembler
	url = git@github.com:sojunie/ftt-arm-assembler.git
[submodule "compiler"]
	path = compiler
	url = git@github.com:sojunie/ftt-c-compiler.git
[submodule "armcpu"]
	path = armcpu
	url = git@github.com:sojunie/ftt-arm-cpu.git
